@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color-scheme: dark;
}

:root {
    --primary: #f9aa11;
    --text-color: rgba(0, 0, 0, 0.88);
    --primary-low: rgba(249, 170, 17, 0.2);
    --xl-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    --avatar-shadow: 0px 4px 12.5px -2px rgba(0, 0, 0, 0.25);
    --gradient: linear-gradient(261deg,
            rgba(249, 170, 17, 0) -71.44%,
            #f9aa11 51.14%);
}

.cl-logoImage {
    width: 9rem;
    height: 3rem;
}

.cl-cardBox {
    box-shadow: none;
    border: none !important;
}

.cl-cardFooter {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(203, 203, 203, 0.831);
    border-radius: 99px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(152, 152, 152, 0.804);
}

/* typography */

.typoH1 {
    font-family: inherit;
    font-weight: 800;
    line-height: 1.25rem;
    font-size: 2.5rem;
}

.typoH2 {
    font-family: inherit;
    font-weight: 800;
    line-height: 1.3rem;
    font-size: 2rem;
}

.typoH3 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.typoH4 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.typoH5 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.125rem;
}

.typoH6 {
    font-family: inherit;
    font-weight: 700;
    line-height: calc(28px / 18px);
    font-size: 1.0625rem;
}

.typoSubtitle1 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
}

.typoSubtitle2 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.571rem;
    font-size: 0.875rem;
}

.typoBody1 {
    font-family: inherit;
    line-height: 1.5rem;
    font-size: 1rem;
}

.typoBody2 {
    font-family: inherit;
    line-height: calc(22px / 14px);
    font-size: 0.875rem;
}

.typoCaption {
    font-family: inherit;
    line-height: 1.5rem;
    font-size: 0.75rem;
}

.typoOverline {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.typoButton {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.7rem;
    font-size: 0.875rem;
    text-transform: unset;
}

@media (min-width: 600px) {
    .typoH1 {
        font-size: 3.25rem;
    }

    .typoH2 {
        font-size: 2.5rem;
    }

    .typoH3 {
        font-size: 1.625rem;
    }

    .typoH4,
    .typoH5 {
        font-size: 1.25rem;
    }

    .typoH6,
    .typoButton {
        font-size: 1.125rem;
    }
}

@media (min-width: 900px) {
    .typoH1 {
        font-size: 3.625rem;
    }

    .typoH2 {
        font-size: 2.75rem;
    }

    .typoH3 {
        font-size: 1.875rem;
    }

    .typoH4,
    .typoH5 {
        font-size: 1.5rem;
    }

    .typoH6,
    .typoButton {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .typoH1 {
        font-size: 4rem;
    }

    .typoH2 {
        font-size: 3rem;
    }

    .typoH3 {
        font-size: 2rem;
    }

    .typoH4,
    .typoH5 {
        font-size: 1.5rem;
    }

    .typoH6,
    .typoButton {
        font-size: 1.125rem;
    }
}